*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: white;
  color: #f9fafb;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
